@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto+Condensed:wght@700;800;900&display=swap');

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

*{
    margin:0;
    padding :0;
    box-sizing: border-box;

}

body{
    color: #676371;
}

.subtitle{
    text-transform: uppercase;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}
.title{
    color: $colorPurple;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}

.btn-white{
    background-color: $colorWhite;
    color:$colorPurple;
    &:hover{
        background-color: $colorPurple;
        color: $colorWhite;
    }
}
.btn-purple{
    background-color: $colorPurple;
    color:$colorWhite;
    &:hover{
        background-color: $colorWhite;
        color: $colorPurple;
    }
}

.my-bg-light-pink{
    background-color: $colorLightPink;
  }

  .bg-light-gray {
    background-color: $colorGray;
  }

  a{
    text-decoration: none;
    color: inherit;
  }